<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="POST">
	<input type="submit" name="player" value="Player">
	<input type="submit" name="service_provider" value="Service Provider">
</form>


</body>
</html>