<!DOCTYPE html>
<html>
<head>
	<title>edit arena</title>
</head>
<body>
<h1>Edit arena</h1>
<form>
	rules<input name="rules_and_regulations" type="text">
	address<input name="address" type="text">
	size<input name="size" type="text">
	type<input name="type" type="text">
	price<input name="price" type="text">
	<input type="submit">
</form>
</body>
</html>