<!DOCTYPE html>
<html>
<head>
	<title></title>
     
</head>
<body>
  <div id="app">

  <router-link to="/view">view Arenas</router-link>

  <router-view></router-View>

  </div>
  <script src="/appVue.js"></script> 

</body>
</html>
