<!DOCTYPE html>
<html>

<head>
	<title>Main view</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
	<!-- import JavaScript -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

	<div id="app">

		<nav class="nav has-shadow">
			<div class="container">
				<div class="nav-left">
					<nav class="tabs is-boxed">
						<div class="container">
							<ul>
								<router-link tag="li" to="/" exact><a>Home</a></router-link>

								<router-link tag="li" to="/myArenas"><a>My Arenas</a></router-link>

								<router-link tag="li" to="/login"><a>login</a></router-link>

								<router-link tag="li" to="/comment"><a>comment</a></router-link>

								<router-link tag="li" to="/rating"><a>rating</a></router-link>

							</ul>
						</div>
					</nav>
				</div>
			</div>
		</nav>

		<router-view></router-view>


	</div>

	<script src="./js/app.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>

</body>

</html>
