<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>
<body>
  <div id="app">
      <router-link to="/search" exact>Search</router-link>
        <router-link to="/edit_profile" exact>edit</router-link>
      <router-view></routerview>
  </div>
<script src = '/appVue.js'></script>


</body>

</html>
