<html>
<head>
<title> Service Provider Control Panel</title>
</head>
<body>

<div id="schedlueRoot" v-if="true">
<calender></calender>
</div>
<div   id="viewBookingsRoot">

<div id="arenas" v-if="false">
    <button  v-for="arena in myArenas"  @click="selectArena(arena.name)"> {{arena.name}}</button>
</div>

<booking v-for = "Booking in Bookings" :key="Booking._id" :bookingID="Booking._id"> <template slot="player">{{Booking.playerName}}</template></booking>
</div>
</body>
<script src="./js/app.js"></script>
</html>