<html>
<body>
<form action="/charge" method="post">
<script 
src="https://checkout.stripe.com/checkout.js"
class = "stripe-button"
data-key="pk_test_H6lyrpudfnkz7h31N8GStX2m"
data-amount="100000"
data-name = "item"
data-description="description"
data-locale = "auto"
currency ="usd"
type="text/javascript">
</script>
<input type="hidden" value="100000" name="chargeAmount">
</form>

</body>
</html>